<button (click)="actualizarDatos()" type="button" class="btn btn-success">Mostrar cantidad de puntos por actividad</button>
<div class="row">
  <div class="mt-4 col-5">
    <div class="card">
      <div class="card-body">
        <h5 class="titulo">Actividades Completadas Deportes</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Puntos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <div *ngFor="let activity of listActivities">
                <div *ngIf="activity.category === 'Deporte' && activity.points !== 0">
                  <td>{{ activity.name }}</td>
                  <td>{{ activity.points }}</td>
                </div>
              </div>
              <td>{{ sumaDeporte }}<i class="far fa-edit text-info"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-4 col-5">
    <div class="card">
      <div class="card-body">
        <h5 class="titulo">Actividades Completadas Salud</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Puntos</th>
            </tr>
          </thead>
          <tbody>
            <div *ngFor="let activity of listActivities">
              <div *ngIf="activity.category === 'Salud' && activity.points !== 0">
                <td>{{ activity.name }}</td>
                <td>{{ activity.points }}</td>
              </div>
            </div>
            <td>{{ sumaSalud }}<i class="far fa-edit text-info"></i></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-4 col-5">
    <div class="card">
      <div class="card-body">
        <h5 class="titulo">Actividades Completadas Estudio</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Puntos</th>
            </tr>
          </thead>
          <tbody>
            <div *ngFor="let activity of listActivities">
              <div *ngIf="activity.category === 'Estudio' && activity.points !== 0">
                <td>{{ activity.name }}</td>
                <td>{{ activity.points }}</td>
              </div>
            </div>
            <td>{{ sumaEstudio }}<i class="far fa-edit text-info"></i></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-4 col-5">
    <div class="card">
      <div class="card-body">
        <h5 class="titulo">Actividades Completadas Nutrición</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Puntos</th>
            </tr>
          </thead>
          <tbody>
            <div *ngFor="let activity of listActivities">
              <div *ngIf="activity.category === 'Nutrición' && activity.points !== 0">
                <td>{{ activity.name }}</td>
                <td>{{ activity.points }}</td>
              </div>
            </div>
            <td>{{ sumaNutricion }}<i class="far fa-edit text-info"></i></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-4 col-5">
    <div class="card">
      <div class="card-body">
        <h5 class="titulo">Actividades Completadas Hogar</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Progreso</th>
            </tr>
          </thead>
          <tbody>
            <div *ngFor="let activity of listActivities">
              <div *ngIf="activity.category === 'Hogar' && activity.points !== 0">
                <td>{{ activity.name }}</td>
                <td>{{ activity.points }}</td>
              </div>
            </div>
            <td>{{ sumaHogar }}<i class="far fa-edit text-info"></i></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-4 col-5">
    <div class="card">
      <div class="card-body">
        <h5 class="titulo">Actividades Completadas Eliminar un mal hábito</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Puntos</th>
            </tr>
          </thead>
          <tbody>
            <div *ngFor="let activity of listActivities">
              <div *ngIf="activity.category === 'Eliminar un mal hábito' && activity.points !== 0">
                <td>{{ activity.name }}</td>
                <td>{{ activity.points }}</td>
              </div>
            </div>
            <td>{{ sumaEliminar }}<i class="far fa-edit text-info"></i></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
