<div>
  <nav class="navbar navbar-expand navbar-dark bg-success bg-opacity-10">
    <a href="#" class="navbar-brand">Vitatic</a>
    <div class="navbar-nav mr-auto text-white">
      <li class="nav-item">
        <a routerLink="" class="nav-link">Inicio</a>
      </li>
      <li class="nav-item">
        <a routerLink="schedules" class="nav-link">Agregar Actividad</a>
      </li>
      <li class="nav-item">
        <a routerLink="listactivities" class="nav-link">Lista de Actividad</a>
      </li>
      <li class="nav-item">
        <a routerLink="progress" class="nav-link">Progreso</a>
      </li>
      <li class="nav-item">
        <a routerLink="advices" class="nav-link">Consejos</a>
      </li>
      <li class="nav-item">
        <a routerLink="estadistics" class="nav-link">Estadística</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
