<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Vitatic</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="" class="nav-link">Inicio</a>
      </li>
      <li class="nav-item">
        <a routerLink="schedules" class="nav-link">Actividades</a>
      </li>
      <li class="nav-item">
        <a routerLink="advices" class="nav-link">Consejos</a>
      </li>
      <li class="nav-item">
        <a routerLink="instructions" class="nav-link">Instrucciones</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
